body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 370px;
    width: 100vw;
}

h4 {
    font-size: 15px;
}

#logo {
    font-size: 2.3em;
    margin-right: 30px;
    margin-left: 10px;
}

.nav-link {
    font-size: 1.3em;
}

h6 {
    font-size: .9em;
}

li:hover {
    background: rgba(255, 225, 0, 0.809)
}

h5 {
    font-size: 18px;
}

p .card-text {
    font-size: 14px;
}

p.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#novidades {
    height: 300px;
    padding-top: 10px;
    background-color: rgba(204, 204, 204, 0.218);
}

#btnCad {
    width: 220px;
}

.bg-light {
    height: 100%;
}

footer {
    height: 300px;
    width: 100%;
}

.text-light {
    line-height: 2.5;
}

@media  screen and (max-width:472px) {
    footer {
        max-height: 600px;
        width: 100%;
        margin: 0;
    }

    #novidades {
        height: 350px;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    footer {
        height: auto;
        justify-content: center;
    }
}

@media screen and (max-width: 800px){ 
    #search {
        display: none;
    }
    .container {
        width: 100vw;
       
    }
}

@media screen and (max-width: 1000px) {
    .container {
        margin-top: 50px;
    }

}